<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Calculate the reach of a Tweet</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" v-on:submit.prevent="getReach">
                <div class="input-group">
                    <input id="url"
                        type="text"
                        class="form-control width-100"
                        name="url"
                        v-model="form.url"
                        placeholder="Enter the url or id of a tweet and get the total reach!"
                        required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" v-on:click="getReach">
                            Get results
                        </button>
                    </span>
                </div>
            </form>
            <div class="loader" v-if="loading">
                <p>Fetching retweets...</p>
            </div>
            <div class="results" v-if="retweets.length">
                <h2>Results</h2>
                <blockquote>
                    <strong>Original tweet: </strong>{{ originalTweet }}
                </blockquote>
                <table class="width-100">
                    <tr>
                        <th>Retweeted by</th>
                        <th>Followers</th>
                    </tr>
                    <tr v-for="retweet in retweets">
                        <td>{{ retweet.user.name }}</td>
                        <td>{{ retweet.user.followers_count }}</td>
                    </tr>
                </table>
                <h1>Total reach: {{ followersSum }} people!</h1>
            </div>
            <div class="error" v-if="error">
                {{ this.error }}
            </div>
            <div class="validationErrors" v-if="validationErrors">
                <ul>
                    <li v-for="validationError in validationErrors">
                        {{ validationError }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    url: '',
                },
                followersSum: 0,
                originalTweet: '',
                retweets: [],
                loading: false,
                error: '',
                validationErrors: [],

            };
        },
        methods: {
            getReach() {
                const id = this.form.url.split('/', 6).pop();

                this.loading = true;
                this.retweets = [];
                this.error = '';
                this.validationErrors = [];

                axios.get('/api/v1/tweet/reach/', {
                    params: {
                        id: id
                    }
                }).then(response => {
                    this.loading = false;
                    this.retweets = response.data.retweets;
                    this.originalTweet = response.data.originalTweet;
                    this.followersSum = response.data.followersSum;
                })
                .catch(error => {
                    this.loading = false;

                    if (error.response.status === 422) {
                        this.validationErrors = error.response.data;
                        return;
                    }

                    this.error = `Something went wrong:
                        Status code: ${error.response.status}.
                        Message: ${error.response.data.message}.
                    `;
                });
            }
        }
    }
</script>

<style>
    .width-100 {
        width: 100%;
    }
    .margin-top-25 {
        margin-top: 25px;
    }
</style>
